<div class="content">
  <div class="loan-panel">
    <div class="loan-header">Mortage loan calculator</div>
    <div class="loan-inputs">
      <div class="input-group">
        <div class="label">Loan amount in PLN</div>
        <input type="text" [(ngModel)]="LoanAmount" (input)="ValidateAmount()" class="loan-amount-input" placeholder="eg. 100 000">
        <div class="wrong-input" *ngIf="!IsAmountValid">Loan amount should be more than 0.</div>
      </div>

      <div class="input-group">
        <div class="label">Duration in years</div>
        <input type="text" [(ngModel)]="LoanDurationInYears" (input)="ValidateTime()" class="loan-duration-input" placeholder="eg. 10"
          (keyup.enter)="CalculateLoan()">
        <div class="wrong-input" *ngIf="!IsTimeValid">Loan duration should be more than 0 and less than 100 years.</div>
      </div>

      <button type="button" class="btn btn-success" (click)="CalculateLoan()">Submit</button>
    </div>
    <div *ngIf="IsLoanCalculated" class="loan-details">
      <div class="total-cost">Loan totoal cost: {{CalculatedLoan.loanCost | number : '1.2-2'}} PLN.</div>
      <div class="rate-header">
        <div class="rate-index">Rate</div>
        <div class="rate-stake">Amount in PLN</div>
      </div>
      <div *ngFor="let rate of CalculatedLoan.loanRates; let i = index">
        <div class="rate-row">
          <div class="rate-index">{{i + 1}}</div>
          <div class="rate-stake">{{rate | number : '1.2-2'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>